/**-- Header CSS -- **/

#rowHeader {
    padding: 10px;
    border-bottom: 3px black solid;
}

#soldPlayer {
    color: green;
    padding-top: 5px;
}
#titleHeader {
    text-align: center;
}

.contentProfil {
    display: inline-block;
}

#profilPlayer {
    text-align: right;
}
#pdprofil {
    border-radius: 50%;
    width: 50px;
}

.contentProfil > p{
   padding: 10px;
}

/**-- Table CSS -- **/

table {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

td {
    border: 1px solid black;
    size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    background-color: gray;
    border: 1px solid black;
    size: 12px;
    text-transform: uppercase;
}

/**-- Card CSS -- **/

.card {
    margin-top: 20px !important;
    width: 100% !important;
}

#cardImgId {
    width: 50%;
}

#submitForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 250px;
    size: 15px;
    text-transform: uppercase;
}

#submitForm:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 250px;
    size: 15px;
    text-transform: uppercase;
}

#formSoldCard {
    width: 100%;
}

.smallImage {
    width: 100%;
}
.cardHand {
    width: 20%!important;
    display: inline-block;
}

.yourField > .arenaFiel {
    background-color: blue;
    border: 1px solid black;
    width: 100%;
    height: 100px;
}

.adversField > .arenaFiel {
    background-color: red;
    border: 1px solid black;
    height: 100px;
}
.adversInfo {
    margin-top: 20px;
    margin-bottom: 20px;
}
#pdprofilDuel {	
    object-fit: cover;         
    object-position: 100% 0;  
    object-position: 0 100%;
    height: 30px; 
}

.cardOnField {
        margin-top: 0 !important; 
        width: 90% !important;
}
form .container-fluid {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 25%;
    border: 5px solid #B22222;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#authentificationSucess {
    color: green;
}

#authentificationFail {
    color: red;
}

.fa-heart {
    color: red;
    font-size:28px;
}  

.hit {
    color: black;
    font-size:28px;
}  

.formDeckBuilding {
    width: 25%;
    display: inline-block;
}

#formDeckBuilder {
    width: 100%;
}

#textAreaChat {
    width: 100%;
}